.advantage {
  @include columns-with-gap;
  @include container;

  &__title {
    @include title;

    margin-bottom: 20px;
  }

  &__text {
    @include text;
  }

  &__image {
    width: 100%
  }

  &__text_second-paragraph {
    margin-top: 20px;
  }
}

@include respond-to(mobile) {
  .advantage {
    &__info {
      @include flex-center;
      flex-direction: column;
      text-align: center;
      margin-top: 20px;
    }

    &.image-text-rotate {
      flex-direction: column-reverse;
    }
  }
}