.blue-container {
  @include content-wrapper;

  background: $secondaryLight;
}

.container {
  @include content-wrapper;
}

.column-container {
  @include content-wrapper;

  display: flex;
  flex-direction: column;
}



.section {
  @include flex-center;

  img {
    width: 100%;
  }

  &__content {
    @include column-section;
    max-width: 1400px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @include title;
  }

  &__text {
    @include text;
  }

  &__link {
    color: $primaryLight;
    text-decoration: underline;
    cursor: pointer;
  }
}

.mitgo {
  background: $secondaryLight;
}

@include respond-to(mobile) {
  .container {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
    }
  }

  .section {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
  }
}

@include respond-to(tablet) {
  .section {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      width: 100%;
    }

    &__info {
      gap: 22px;
    }
  }

  .column-container {
    padding-bottom: 69px;
  }

}