$darkBlue: #D4E8FF;
$white: #fff;
$blue: #CFECFD;
$lightBlue: #F2F7FF;
$green: #DAFBBA;
$lightGreen: #EFFDF5;
$pink: #FDDACF;
$lightPink: #FFF2F0;
$yellow: #FFEEC0;
$lightYellow: #FFFBE5;
$purple: #F0EDFF;
$main: #173055;
$mainLight: #052D57;
$mainDark: #131E2F;
$primary: #0085FF;
$primaryLight: #2B92FF;
$secondary: #8DB4E1;
$secondaryLight: #F6F9FD;
$secondaryDark: #315D8B;