$lightBlue: #D4E8FF;
$white: #fff;
$blue: #CFECFD;
$green: #DAFBBA;
$pink: #FDDACF;
$yellow: #FFEEC0;
$purple: #F0EDFF;
$main: #173055;
$mainLight: #052D57;
$mainDark: #131E2F;
$primary: #0085FF;
$primaryLight: #2B92FF;
$secondary: #8DB4E1;
$secondaryLight: #F6F9FD;
$secondaryDark: #315D8B;