@mixin button {
  padding: 9.5px 20px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.4px;
  border-radius: 12px;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border: 2px solid $primary;

  &:hover {
    opacity: 0.8;
  }
}

@mixin filled-button {
  @include button;

  background: $primary;
}


@mixin default-button {
  @include button;

  background: transparent;
}

@mixin h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}

@mixin h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

@mixin title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: $mainLight;
}

@mixin text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $secondaryDark;
}

@mixin paragraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: $secondaryDark;
}

@mixin secondary-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $mainLight;
}

@mixin secondary-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $secondaryDark;
}

@mixin column-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;
}

@mixin icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  min-width: 32px;
  height: 32px;
}

@mixin text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  max-width: 1400px;
}

@mixin columns-with-gap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;

  @include respond-to(mobile) {
    display: flex;
    flex-direction: column;
  }

  @include respond-to(tablet) {
    column-gap: 20px;
  }
}

@mixin content-wrapper {
  @include flex-center;

  padding: 120px 52px;

  @include respond-to(mobile) {
    padding: 80px 24px;
  }

  @include respond-to(tablet) {
    padding: 100px 40px;
  }
}